{% extends 'base.html.twig' %}

{% block title %}
    Liste
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter un utilisateur</h1>
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.firstName,"Prénom") }}
            {% if form_errors(form.firstName) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.firstName) }}
                </div>
            {% endif %}
            {{ form_widget(form.firstName, {'attr': {'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.lastName,"Nom de famille") }}
            {% if form_errors(form.lastName) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.lastName) }}
                </div>
            {% endif %}
            {{ form_widget(form.lastName, {'attr': {'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.email,"Entrez un email") }}
            {% if form_errors(form.email) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.email) }}
                </div>
            {% endif %}
            {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.birthday,"Date de naissance") }}
            {% if form_errors(form.birthday) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.birthday) }}
                </div>
            {% endif %}
            {{ form_widget(form.birthday, {'attr': {'class':'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.group,"Groupe : ") }}
            {% if form_errors(form.group) %}
                <div class="alert alert-danger">
                    {{ form_errors(form.group) }}
                </div>
            {% endif %}
            {{ form_widget(form.group, {'attr': {'class':'form-control'}}) }}
        </div>

        {{ form_rest(form) }}

        <button type="submit" class="btn btn-default">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
