{% extends 'base.html.twig' %}

{% block title %}
    Liste
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des utilisateurs</h1>
        <div>
            <p><a href="{{ path('usernew') }}">Ajouter un utilisateur</a></p>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Groupe</th>
                <th scope="col">Nom Pr&eacute;nom</th>
                <th scope="col">Email</th>
                <th scope="col">D&eacute;tail</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                {% for user in group.users %}
                    <tr>
                        <td>{{ user.getGroup.getName }}</td>
                        <td>{{ user.getLastName | upper }} {{ user.getFirstName }}</td>
                        <td>{{ user.getEmail }}</td>
                        <td>
                            <a href="#" onclick="window.open('{{ path('userdetail',{'id':user.getId }) }}','Detail de l\'utilisateur','menubar=no, scrollbars=no, top=100, left=100, width=200, height=100');">
                                Voir d&eacute;tail
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                Aucun utilisateur
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
